html{
	background: repeating-linear-gradient(-60deg, #00c8e6, #00c8e6 35px, #1ee2ff 35px, #1ee2ff 70px);
	min-height: 100%;
}

body{
	font-size: 100%;
}

/*header section*/

.main-head{
	width: 100%;
	border
}

.global-outer{
	width: 100%;
}

.global-inner{
	width: 100%;
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 40px;
}

.main-head-inner{
	
}

.search-wrap{
 	top: 0;	
 	left: 0;
 	padding: 1.25em 0;
 	border: 1px solid #000;
}

/*top-header-search-seaction*/

.search-box-centered{
	margin-left: -1.058201%;
}

.search-box{
	margin-left: 1.058201%;
	background-color: #9c0;
}

.search-box-input{
	width: 54.026455%;
}

.search-box-input-itself{
	width: 100%;
}



.search-box-cat{
	width: 29.100529%;
}

.search-box-submit{
	width: 13.756614%;
}

