html{
	background: repeating-linear-gradient(-60deg, #00c8e6, #00c8e6 35px, #1ee2ff 35px, #1ee2ff 70px);
	min-height: 100%;
}

body{
	font-size: 100%;
}


/*buttons*/

.g-button{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
	color: #fff;
	font-family: denda;
	padding: 6px 35px;
	-webkit-box-shadow: 0 2px 0px #7d4f81;
	-moz-box-shadow: 0 2px 0px #7d4f81;
	box-shadow: 0 2px 0px #7d4f81;
	position: relative;
}

.g-button:active{
	bottom: -1px;
	-webkit-box-shadow: 0 1px 0px #5e2563, inset 0 2px 0px #b182b5;
	-moz-box-shadow: 0 1px 0px #5e2563, inset 0 2px 0px #b182b5;
	box-shadow: 0 1px 0px #5e2563, inset 0 2px 0px #b182b5;
}

.l-button{
	background: #00c8e6;
}

.l-button:hover{
	background: #a2f3ff;
}


/*header section*/

.main-head{
	width: 100%;
	border
}

.global-outer{
	width: 100%;
}

.global-inner{
	width: 100%;
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 4.101562%;
}

.main-head-inner{
	
}

.search-wrap{
 	top: 0;	
 	left: 0;
 	padding: 1.25em 0;
}

/*site header*/

.site-header{
	background-color: #1ee2ff;
	border-top: 2px dotted #fff;
	padding-top: 0.94em;
	padding-bottom: 0.94em;
}

.site-title{
	width: 29.468085%;
	margin: 0;
}

.site-head-info-part{
	width: 67.340426%;
	text-align: right;
}

.site-header-top-menu{
	width: 67.340426%;
	text-align: right;
	font-family: 'gafata', sans-serif;
	font-size: 1.25em;
	margin-top: 30px
}

.top-menu-items a{
	margin-left: 7.541478%; /* 50/663 */
	text-transform: capitalize;	
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.top-menu-items a:hover{
	color: #fff;
}

/*top-header-search-seaction*/



.search-box{
	margin-left: 1.0582%;
	font-family: 'gafata', sans-serif;
	font-size: 1.13em;
	color: #94cbd3;
}

.search-box:first-of-type{
	margin-left: 0;
}

.search-box-input{
	width: 54.8191%;
}

.search-box-input-itself{
	width: 97%;
	color: #94cbd3;
	background: rgba(255,255,255,0.66);
	border: none;
	padding: 7px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 3px 2px rgba(60,60,60, .13);
	-moz-box-shadow: inset 0 3px 2px rgba(60,60,60, .13);
	box-shadow: inset 0 3px 2px rgba(60, 60, 60, 0.13);
}

.search-box-cat{
	width: 29.2553%;
}

.select-cat-wrap{
	background: rgba(255,255,255,0.66);
	border: none;
	padding: 7px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	-webkit-box-shadow: inset 0 3px 2px rgba(60,60,60,.13);
	-moz-box-shadow: inset 0 3px 2px rgba(60,60,60,.13);
	box-shadow: inset 0 3px 2px rgba(60, 60, 60, 0.13);
}

.select-cat-wrap:before{
	float: right;
	background: #00deff;
	padding: 0 6px 6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 4px 1px #ddd;
	-moz-box-shadow: 0 0 4px 1px #ddd;
	box-shadow: 0 0 4px 1px #ddd;
	color: #fff;
}

.search-box-submit{
	width: 13.756614%;
}

.search-box-submit-itself{
	background:#9a749d;
	color:#fff;
}

.search-box-submit-itself:hover{
	background: #b182b5;
}


.search-box-submit-itself:active{
		background: #7c4f80;
	-webkit-box-shadow: 0 1px 0px #5e2563, inset 0 2px 0px #b182b5;
	-moz-box-shadow: 0 1px 0px #5e2563, inset 0 2px 0px #b182b5;
	box-shadow: 0 1px 0px #5e2563, inset 0 2px 0px #b182b5;
}

.site-title-url{
	text-indent: -9999px;
	display: block;
	min-height: 73px;
	background:url('../images/logo.png') no-repeat;
}


.slider{
	height: 300px; /*temp*/
	background-color: #ddd; /*temp*/
}

/*main content*/

.main-sidebar{
	width: 29.468085%;
}

.main-sidebar-title{
	color: #0a708d;
	font-size: 2.69em;
	text-transform: capitalize;
	margin: 0 0 10px 0;
	font-family: denda, serif;
}

.main-sidebar-navigation{
	padding: 0;
	background: #e4f7fa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: gafata, sans-serif;
	overflow: hidden;
}

.main-sidebar-navigation-item{
	padding: 0 0.94em;
	background: #e4f7fa;

}

.main-sidebar-navigation-item:hover{
	background: #bff4ff;
}

.msni-more{
	display: none;
}

.msni-link{
	color: #266577;
	border-bottom:1px solid #fff;
	border-top:#266577 ;
	font-size:1.19em ;  /*19/16*/
	text-transform: capitalize;
	padding: 0.79em 0;  /*15/19*/
	padding-left:50px ;
	display: block;
	width: 100%;
}

.msnim-opener-wrap{
	width: 100%;
	display: block;
	cursor: pointer;
	background: #b2e5f0;
	color: #fff;
	padding:0.56em; /*10/18*/
	text-align: center;
}

.msnim-opener.active{
	color: #00C8E6;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
	
.msnim-opener:after{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	position: relative;
	bottom: 2px;
}

.msnim-opener.active:after{
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
	top: 4px;

}

.content-wrapper{
	background-color: #fff; /*temp*/
	padding: 50px 0; /*temo*/
}

.main-content-wrapper{
	width:67.340426%;
	height: 450px;
	background-color: #000; /*temp*/
	margin-left: 3.191489%;
}

/*pre footer*/

.pre-footer{
	padding: 50px 0; /*temp*/
}

.pre-footer-big-block{
	height: 450px; /*temp*/  
	width:64.893617% ;
	background-color: #ded;  /*temp*/
}

.pre-footer-small-block{
	height: 450px; /*temp*/
	width: 32.678723%;
	background-color: #ddd;
	margin-left: 2.340426%;
}

/*footer*/

.main-foot{
	background-color: #ddd;    /*temp*/
}

.main-foot-centered{
	margin-left: -1.914894%;;
}

.main-foot-block{
	width: 18.085106%;
	margin-left:1.914894%;
	background: #000;
}

/*post footer*/

.post-foot-box{
	height: 100px;/*temp*/
	background: #eee; /*temp*/
}

.post-foot-social{
	width: 30.319149%;
	height: 60px;
}

.copyrights, .post-foot-nav{
	width: 69.680851%;
}
