
@font-face {
	font-family: 'denda';
	src: url('fonts/DendaNewC.eot');
	src: local('☺'), url('fonts/DendaNewC.woff') format('woff'), url('fonts/DendaNewC.ttf') format('truetype'), url('fonts/DendaNewC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'denda-light';
	src: url('fonts/DendaNewLightC.eot');
	src: local('☺'), url('fonts/DendaNewLightC.woff') format('woff'), url('fonts/DendaNewLightC.ttf') format('truetype'), url('fonts/DendaNewLightC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'denda-bold';
	src: url('fonts/DendaNewC-Bold.eot');
	src: local('☺'), url('fonts/DendaNewC-Bold.woff') format('woff'), url('fonts/DendaNewC-Bold.ttf') format('truetype'), url('fonts/DendaNewC-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

